* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    cursor: pointer;
}

.container {
    width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ======HEADER====== */

.header {
    padding: 9px 0 0 0;
    margin-bottom: 161px;
}

.header-wrapper {
    display: flex;
}

.header-link {
    width: 93px;
    height: 138px;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.6%;
    border-radius: 5px;
    background: #A3C1EF;
    margin-left: 110px;
}

.header-text-w {
    margin-top: 80px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 0 48px;
    margin-left: 48px;
}

.header-link-2 {
    color: #163561;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.6%;
}

.header-2-box {
    display: flex;
    align-items: center;
    margin-left: 400px;
    gap: 0 72px;
}

.header-btn {
    padding: 23px 32px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.6%;
    letter-spacing: 0.6px;
    border-radius: 20px;
    border: none;
    background: #99BAED;
}

/* ======HERO====== */

.hero {
    display: flex;
    margin-bottom: 226px;
    align-items: center
}



.hero-title {
    width: 706px;
    color: #163561;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.6%;
    margin-bottom: 30px;
}

.hero-title-1 {
    color: #FBB400;
}

.hero-text {
    width: 596px;
    color: #153461;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%;
    letter-spacing: 0.75px;
    margin-bottom: 97px;
}

.hero-btn-a {
    padding: 23px 41px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.6%;
    letter-spacing: 0.6px;
    border-radius: 20px;
    background: #99BAED;
}

/* ======INFO====== */
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;

}

.info-title {
    color: #163561;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.1px;
}

.info-title-2 {
    color: #FBB400;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.6%;
    letter-spacing: 2.1px;
}

.info-text-2 {
    width: 526px;
    color: #153461;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%;
    letter-spacing: 0.75px;
    margin-bottom: 48px;
}

.info-text {
    width: 526px;
    color: #153461;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%;
    letter-spacing: 0.75px;
    margin-bottom: 109px;
}

.info-btn {
    padding: 23px 41px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.6%;
    letter-spacing: 0.6px;
    border: none;
    border-radius: 20px;
    background: #99BAED;
}

.services-title {
    width: 597px;
    margin: 0 auto;
    color: #163561;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.6%;
    letter-spacing: 2.1px;
    margin-bottom: 87px;
}

.g {
    margin: 0 auto;
}

/* ======SERVICES====== */

.services {
    margin-bottom: 272px;
}

.services-title-2 {
    text-align: center;
    color: #FBB400;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.6%;
    letter-spacing: 2.1px;
}

/* ======SERVICES====== */
.services-list {
    display: flex;
    gap:0 49px;
    width: 441px;
    height: 533px;
    background-color: #99BAED;
    border-radius: 5%;
    margin-bottom: 272px;
}



.services-img {
    margin-top: 50px;
    margin-left: 169px;
    padding: 30px 23px;
    border-radius: 13px;
    background: #E5ECFE;
    box-shadow: 0px 1px 0px 0px #008FDD;
    margin-bottom: 59px;
}

.services-title-3 {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.6%;
    letter-spacing: 1.35px;
    margin-bottom: 60px;
}

.services-text {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%;
    letter-spacing: 0.75px;
}

.services-list-t {
    width: 441px;
    height: 533px;
    border-radius: 29px;
    background: #FAFBFF;
    box-shadow: 0px 5px 0px 0px #99BAED;
}

.services-title-4 {
    color: #163561;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.6%;
    letter-spacing: 1.35px;
    margin-bottom: 60px;
}

.services-text-4 {
    color: #153461;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%;
    letter-spacing: 0.75px;
}

/* ======BARBER====== */
.barber-title-2 {
    color: #FBB400;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.6%;
    letter-spacing: 2.1px;
}

.barber-title {
    color: #163561;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.6%;
    letter-spacing: 2.1px;
    margin-bottom: 110px;
}

.barber-img {
    margin-bottom: 77px;
}

.barber-btn {
    padding: 22px 57px;
    margin-left: 566px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.6%;
    letter-spacing: 0.6px;
    border-radius: 20px;
    border: none;
    background: #99BAED;
    margin-bottom: 257px;
}

/* ======FOOTER====== */
.footer-img {
    margin-left: 560px;
    margin-bottom: 36px;
}

.footer-text {
    width: 526px;
    margin: 0 auto;
    color: #153461;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%;
    letter-spacing: 0.75px;
    margin-bottom: 47px;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 47px;
}

.footer-img-2 {
    width: 67px;
    height: 67px;
    padding: 15px 24px;
    background-color: #99BAED;
    border-radius: 50%;
}

.footer-img-3 {
    width: 67px;
    height: 67px;
    padding: 15px 24px;
    background-color: #D3E5FF;
    border-radius: 50%;
}

.footer-line {
    width: 1320px;
    height: 1px;
    background-color: #99BAED;
}